# Android/IntelliJ
.idea/
.gradle/
.kotlin/
build/
captures/
local.properties

# Kotlin Multiplatform
*.kotlin_metadata

# Gradle
!gradle-wrapper.jar

# Logs
*.log

# OS
.DS_Store

# Keystore
*.jks
*.keystore